/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jul, 2015, 4:08:53 PM
    Author     : partha
*/
.myDialog{
    -fx-background-color: #570446;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #e35cd1;
}
.myDialog > *.label.content{
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
.myDialog:header *.header-panel{
    -fx-background-color: #570446;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
}   

